@charset "UTF-8";

div{
    font-weight: bolder;
    padding: 5px;
    margin-bottom: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.703);
    font-style: italic;
}

img{
    border-radius: 10px;
    max-width: 100%;
    margin: auto;
    border: 4px solid black;
}

h1{
    margin-bottom: 2em;
}

footer{
    width: max-content;
    margin: auto;
    color: gray;
    background-attachment: fixed;
    font-weight: bolder;
}

.voltar{
    text-align: right;
    font-weight: bolder;
    font-size: 1.8em;
}

hr{
    border: none; 
        height: 5px; 
        background-color: black; 
        width: 100%; 
        margin: 20px auto ; 
        border-radius: 10px;
    }

header{
        background-image: linear-gradient(to bottom, white, #A8D7FF, #89C8F7, #4B87AD);
}


