@charset "UTF-8";

* {
   margin: 0px;
   padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
   
}
 h1{
    text-align: center;
    font-style: italic;
    font-size: 2.5em;
 }

 .voltar{
    margin-top: 8em;
    text-align: right;
 }

 .habilidadesum{
    display: flex;
    justify-content: space-between;
 }

 .html{
    background-color: white;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    margin-left: 5em;
    
 }

 .titulohtml{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;

 }

 .css{
    background-color: white;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    
 }

 .titulocss{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
 }

 .github{
    background-color: white;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    margin-right: 5em;
 }

 .titulogithub{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
 }

 .habilidadesdois{
    margin-top: 9em;
    display: flex;
    justify-content: space-between;
 }

 .vsc{
    background-color: white;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    margin-left: 5em;
    height: max-content;
 }

 .titulovsc{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
 }

 .git{
    background-color: white;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
 }

 .titulogit{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
 }

 .designresponsivo{
    background-color: white;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    margin-right: 5em;
    height: max-content;
 }

 .titulodesignresponsivo{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
 }

 .habilidadetres{
    display: flex;
    justify-content: space-between;
 }

 .portugol{
    margin-top: 9em;
    margin-left: 5em;
    background-color: white;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    height: max-content;
 }

 .tituloportugol{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
 }

 .gimp{
    background-color: white;
    border-radius: 5px;
    border-color: black;
    margin-right: 5em;
    height: max-content;
    border-style: solid;
    margin-top: 9em;
    
 }

 .titulogimp{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
 }

footer{
    width: max-content;
    margin: auto;
    color: gray;
    background-attachment: fixed;
    font-weight: bolder;
}
hr{
border: none; 
    height: 5px; 
    background-color: black; 
    width: 100%; 
    margin: 20px auto ; 
    border-radius: 10px;
}

header{
   background-image: linear-gradient(to bottom, white, #A8D7FF, #89C8F7, #4B87AD);
}

@media (min-width: 320px) and (max-width: 440px) {
   .habilidadesum{
      display: block;
   }
   
   .habilidadesdois{
      display: block;
      margin-top: 0;
   }
   
   .habilidadetres{
      display: block;
   }

   .html{
      margin-left: 0;
      text-align: center;
   }

   .css{
      text-align: center;
   }

   .vsc{
      margin-left: 0;
      text-align: center;
   }

   .portugol{
      margin-left: 0;
      text-align: center;
      margin-top: 0;
   }

   .imgport{
      width: 99%;
   }

   .gimp{
      text-align: center;
      margin-top: 0;
   }

   .github{
      text-align: center;
      
   }

}

@media (min-width: 768px) and (max-width: 1114px) {
   .habilidadesum{
      justify-content: center;
   }
}

