@charset "UTF-8";

* {
   margin: 0px;
   padding: 0px;
}

html, body{
   width: 100%;
   overflow-x: hidden;
}

body{
    font-family: Arial, Helvetica, sans-serif;
   
}
 h1{
    text-align: center;
    font-style: italic;
    font-size: 2.5em;
 }

 .voltar{
    margin-top: 8em;
    text-align: right;
 }

 li{
   padding: 5px;
   margin-left: 50px;
   font-size: 2em;
}

footer{
    width: max-content;
    margin: auto;
    color: gray;
    background-attachment: fixed;
    font-weight: bolder;
    font-size: 16px;
}
hr{
border: none; 
    height: 5px; 
    background-color: black; 
    width: 100%; 
    margin: 20px auto ; 
    border-radius: 10px;
}

header{
   background-image: linear-gradient(to bottom, white, #A8D7FF, #89C8F7, #4B87AD);
}

@media (min-width: 768px) and (max-width: 1024px) {
   footer{
      font-size: 24px;
   }

   .voltar{
      font-size: 1.5em;
   }
}


