@charset "UTF-8";

h1{
    text-align: center;
    font-style: italic;
    font-size: 2.5em;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body{
    width: 100%;
    overflow-x: hidden;
}

.pagum{
    text-align: right;
    font-weight: bolder;
    margin-top: 300px;
}
li{
    font-size: 1.5em;
    margin-left: 32px;
    padding: 5px;
}
footer{
    width: max-content;
    margin: auto;
    color: gray;
    background-attachment: fixed;
    font-weight: bolder;
}

hr{
    border: none; 
        height: 5px; 
        background-color: black; 
        width: 100%; 
        margin: 20px auto ; 
        border-radius: 10px;
    }

    header{
        background-image: linear-gradient(to bottom, white, #A8D7FF, #89C8F7, #4B87AD);
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        footer{
            font-size: 24px;
        }

        .pagum{
            font-size: 1.5em;
         }
    }
