@charset "UTF-8";

header{
    background-image: linear-gradient(to bottom, white, #A8D7FF, #89C8F7, #4B87AD);
}

h1{
    font-style: italic;
    font-size: 2.5em;
}

li{
    font-size: 1.1em;
}

hr{
    border: none; 
    height: 5px; 
    background-color: black; 
    width: 100%; 
    margin: 20px auto ; 
    border-radius: 10px;
}

.rodape{
    margin-top: 30px;
}

main{
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    width: max-content;
    margin: auto;
    color: gray;
    background-attachment: fixed;
    font-weight: bolder;
}

.pagum{
    text-align: right;
    font-weight: bolder;
    margin-top: 300px;
    font-size: 1.3em;
}

p{
    color: red;
    font-weight: bolder;
}
 